{% extends 'dashboard-base.html' %}
{% load static %}

{% block content %}
<div class="row">
    {% include 'dashboard-menu.html' %}
    <div class="tab-content col-9" style="margin-top:60px;margin-left:30px;margin-right:20px">
        <div class="col-md-12" style="margin-top:20px;margin-bottom:28px;">
            {% include 'messages.html' %}
        </div>
        <p class="text-default text-left"><b>Change Password</b></p>
        <form action="{% url 'change_pwd' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="old_password">Old Password</label>
                <input type="password" class="form-control" name="old_password" id="old_password" placeholder="Enter Old Password" required>
            </div>
            <div class="form-group">
                <label for="password">New Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Enter New Password" required>
            </div>
            <div class="form-group">
                <label for="verify_password">Confirm New Password</label>
                <input type="password" class="form-control" name="confirm_password" id="verify_password" placeholder="Re-enter New Password" required>
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top:30px;">Submit Change</button>
        </form>
    </div>
</div>
{% endblock content %}
