{% extends 'dashboard-base.html' %}
{% load static %}

{% block content %}
<div class="row">
    {% include 'dashboard-menu.html' %}
    <div class="tab-content col-9" style="margin-top:60px;margin-left:30px;margin-right:20px">
        <div class="col-md-12" style="margin-top:20px;margin-bottom:28px;">
            {% include 'messages.html' %}
        </div>
         <h3 class="default-style"> Change Password </h3><hr>
        <p class="default-style">Please fill out the form correctly. Incorrect information can lead to the account being lost.</p>
    
        {% if form.errors %}
            <div class="alert alert-danger">
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="old_password">Old Password</label>
                <input type="password" class="form-control" name="old_password" id="old_password" placeholder="Enter Old Password" required>
                {% if form.old_password.errors %}
                    <ul class="text-danger">
                        {% for error in form.old_password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="password">New Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Enter New Password" required>
                {% if form.password.errors %}
                    <ul class="text-danger">
                        {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="verify_password">Confirm New Password</label>
                <input type="password" class="form-control" name="confirm_password" id="verify_password" placeholder="Re-enter New Password" required>
                {% if form.confirm_password.errors %}
                    <ul class="text-danger">
                        {% for error in form.confirm_password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-primary" style="margin-top:30px;">Submit Change</button>
        </form>
    </div>
</div>
{% endblock content %}
