{% extends 'base.html' %}

{% block content %}
{% load static %}
<title>KLstore - Discover Timeless Treasures</title>
<section class="background" style="background-color: #2F2F2B">
    <div class="hero">
        <div class="container">
            <div class="row" style="padding-bottom: 124px;">
                <div class="col-md-6 p-0">
                    <h1 class="antique display-4">Discover<span class="antique-favorite" style="color: #b88e09;"> Timeless</span>  Treasures</h1>
                    <p class="antique hero-text">Explore our extensive collection of unique antiques. Bring history to life with items delivered quickly and securely to your home.</p>
                    <p class="lead">
                        <a class="btn btn-primary button-shop" href="/category" role="button" style="color: #fff; background-color: #b88e09;">Buy Now</a>
                    </p>
                </div>

                <div class="col-12 col-md-5">
                    <img class="img-fluid" src="{% static 'images/hero.png' %}" alt="Hero Image"/>
                </div>
            </div>
        </div>
    </div>
</section>

<hr class="align:center"/>

<div class="container ms-auto">
    <div class="row" style="margin-top: -90px; background: #FFFFFF;">
        <h3 class="text-front-page text-center pt-3">Antiques</h3>
        {% for antique in antiques %}
            <div class="product-box col-6 col-md-2 mb-sm-4 d-flex flex-column">
                <a class="text-decoration-none" href="{% url 'single_antique' antique.slug %}">
                    {% if antique.image %}
                        <img class="product-img img-fluid" src="{{ antique.image.url }}" alt="{{ antique.title }}" style="width: 150px; height: 180px; object-fit: cover;">
                    {% else %}
                        <img class="product-img img-fluid" src="https://via.placeholder.com/300" alt="No Image Available" style="width: 150px; height: 180px; object-fit: cover;">
                    {% endif %}
                    <h3 class="book-title mt-2 mb-2">{{ antique.title }}</h3>
                    <p class="book-price mb-3 d-flex align-items-baseline">
                        <span class="currency-symbol me-1">$</span>
                        <span>{{ antique.price }}</span>
                    </p>
                    <button class="btn btn-custom">Buy Now</button>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}
