{% extends 'dashboard-base.html' %}
{% load static %}

{% block content %}
<div class="row">
    {% include 'dashboard-menu.html' %}
    <div class="tab-content col-9" style="margin-top:60px; margin-left:30px; margin-right:20px;">
        <h3 class="default-style">Order List</h3>
        <hr>
        <p class="default-style">
            Below is the list of all orders. You can update the order status as needed.
        </p>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">Client</th>
                    <th scope="col">Order Status</th>
                    <th scope="col">Date Created</th>
                    <th scope="col">Last Updated</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% if orders %}
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.order_id }}</td>
                        <td>{{ order.client.username }}</td>
                        <td>{{ order.order_status }}</td>
                        <td>{{ order.date_created | date:"Y-m-d H:i" }}</td>
                        <td>{{ order.date_updated | date:"Y-m-d H:i" }}</td>
                        <td><a href="/dashboard/view_order/{{order.order_id}}"> View Order</a></td>
                        <td>
                            {% if order.order_id %}
                            <a href="{% url 'checkout:update_order' order.order_id %}" class="btn btn-warning btn-sm">Update</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6" class="text-center">No orders found.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>

        <!-- Pagination -->
    <ul class="pagination">
    <li class="page-item">
        {%if orders.has_previous %}
        <li class="page-item"><a href="/dashboard/orders?page=1" class="page-link" href="">First</a></li>
      <a class="page-link" href="/dashboard/orders?page={{orders.previous_page_number}}" tabindex="-1">{{orders.previous_page_number}}</a>
    </li>

    {%else%}
         <li class="page-item disabled">
             <a class="page-link " href="#">First </a></li>


    {%endif%}

         <li class="page-item active">
      <a class="page-link  text-decoration-none" href="#">{{orders.number}} <span class="sr-only">(current)</span></a>
    </li>

         {%if orders.has_next %}
    <li class="page-item">
      <a class="page-link" href="/dashboard/orders?page={{orders.next_page_number}}"> {{orders.next_page_number}}</a>
      <li class="page-item">
       <a class="page-link" href="/dashboard/orders?page={{orders.paginator.num_pages}}">Last </a>
      </li>
    </li>
         {%else%}
         <li class="page-item disabled">
             <a class="page-link " href="#">Last </a></li>
         {%endif%}
  </ul>
    </div>
</div>
{% endblock content %}
